/* ------------------------Googole font------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*--------------------------------------- Global Css------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*---------------------------------- Banner Section Css Start------------------------------- */
.banner-section-main {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    padding: 0 50px;
    justify-items: end;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.banner-section-info h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
}

.banner-section-info p {
    margin: 20px 0 30px;
}

.wach-live-btn,
.view-all-btn {
    color: white;
    border: 1px solid red;
    background-color: red;
    padding: 5px 25px;
    font-size: 14px;
    border-radius: 5px;
    
}
.wach-live-btn:hover{
    border: 1px solid red;
    background-color: transparent;
    transition: all .3s ease-in;
}
.fa-angle-right {
    margin-left: 10px;
}

.banner-section-image img {
    width: 500px;
}


.animation-section {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    animation: mymove 10s infinite;
    animation-timing-function: linear;
}

@keyframes mymove {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }

    25% {
        background-color: yellow;
        left: 1170px;
        top: 0px;
    }

    50% {
        background-color: blue;
        left: 1170px;
        top: 500px;
    }

    75% {
        background-color: green;
        left: 0px;
        top: 500px;
    }

    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}

/*---------------------------------- Blog Section Css Start------------------------------- */
.blog-section-main {
    margin: 100px 0 50px;
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 20px;
}

.blog-section-left {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 10px;
    height: 170px;
    text-align: center;
    padding: 0 20px;
}

.blog-section-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.blog-section-left a {
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    color: black;
}

.blog {
    background-color: red !important;
    color: white !important;
}

.blog-section-right-inner {
    box-shadow: 0 0 5px lightgrey;
    border-radius: 10px;
}

.blog-section-right-inner img {
    width: 100%;
}

.blog-section-right-inner p a {
    display: inline-block;
    border: 1px solid gray;
    padding: 5px 15px;
    margin: 10px 0;
    border-radius: 5px;
}

.blog-info {
    padding: 10px 20px 23px;
}

.blog-info a:hover{
    background-color: red;
    color: white;
    transition: all .2s ease-in-out;
}

.blog-info h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.time-and-comment-section span {
    margin-right: 40px;
}

.time-and-comment-section .fa-solid {
    margin-right: 10px;
}

.view-all {
    text-align: center;
    margin-bottom: 50px;
    display: none;
}

/*-------------------------------- Footer Section Css Start----------------------------------- */
footer {
    width: 100%;
    background-color: black;
    padding: 70px 0;
}

footer h2 {
    color: white;
    margin-bottom: 50px;
    text-align: center;
}

.contact-info {
    text-align: center;
}

.contact-info a {
    color: white;
    margin-right: 30px;
    margin-top: 50px;
    display: inline-block;

}

hr {
    width: 80%;
    margin: auto;
}

.social-icon-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.social-icon-section a {
    color: white;
    margin: 0 20px;
    font-size: 20px;
}

/*--------------------------------------------------- Mobile Media Quary--------------------------------------------------- */
@media only screen and (max-width: 688px) {
    .container {
        max-width: 330px;

    }

    .banner-section-info {
        text-align: center;
        margin: 20px 0;
    }

    .banner-section-main {
        grid-template-columns: repeat(1, 1fr);
        padding: 0 20px;
        justify-items: center;

    }

    .banner-section-info h1 {
        font-size: 25px;
    }

    .banner-section-info p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .banner-section-image img {
        width: 100%;
    }

    .blog-section-main {
        grid-template-columns: auto;
        margin: 0;

    }

    .blog-section-left a {
        box-shadow: 0 0 5px grey;

    }

    .blog-section-left {
        background: none;
        justify-content: space-around;
        border-radius: 10px;
        height: none !important;
        text-align: center;
        margin: 22px 0;
        padding: 0;
    }

    .blog-section-right {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        padding: 30px 0;
        margin-top: 20px;
    }

    footer h2 {
        margin-bottom: 30px;

    }

    .contact-info a {
        color: white;
        margin-right: 0;
        margin-top: 20px;
        display: block;
    }
    .animation-section {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        animation: mymove 5s infinite;
        animation-timing-function: linear;
    }
    
    @keyframes mymove {
        0% {
            background-color: red;
            left: 0px;
            top: 0px;
        }
    
        25% {
            background-color: yellow;
            left: 300px;
            top: 0px;
        }
    
        50% {
            background-color: blue;
            left: 300px;
            top: 500px;
        }
    
        75% {
            background-color: green;
            left: 0px;
            top: 500px;
        }
    
        100% {
            background-color: red;
            left: 0px;
            top: 0px;
        }
    }

}



/*--------------------------------------------------- Tablet Media Quary--------------------------------------------------- */
@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        max-width: 700px;
    }

    .banner-section-info h1 {
        font-size: 30px;
    }

    .banner-section-info p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }

    .banner-section-image img {
        width: 300px;
    }

    .blog-section-right {
        grid-template-columns: repeat(2, 1fr);

    }

    .blog-section-main {

        grid-template-columns: auto;

    }

    .view-all {
        text-align: center;
        margin-bottom: 50px;
        display: block;
    }

    .blog-section-left {
        background: none;
        flex-direction: row;
        height: unset !important;
        padding: 0;
    }

    .blog-section-left a {
        box-shadow: 0 0 5px grey;
        width: 218px;
        margin-bottom: 20px;
    }

    .animation-section {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: red;
        position: absolute;
        animation: mymove 5s infinite;
        animation-timing-function: linear;
    }

    @keyframes mymove {
        0% {
            background-color: red;
            left: 0px;
            top: 0px;
        }

        25% {
            background-color: yellow;
            left: 670px;
            top: 0px;
        }

        50% {
            background-color: blue;
            left: 670px;
            top: 300px;
        }

        75% {
            background-color: green;
            left: 0px;
            top: 290px;
        }

        100% {
            background-color: red;
            left: 0px;
            top: 0px;
        }
    }
}

/* Upcoming Section Css start */
.upcoming-match {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.upcoming-match img {
    width: 40% !important;
}

.match-title,
.match-time {
    text-align: center;
}